<mat-card>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-content>
        <span>Thank you for giving us the opportunity to serve you. Please select a product below to get started</span>
    </mat-card-content>
    <mat-card-actions>
        <div class="row">
            <div class="column">
                <a routerLink="/home" routerLinkActive="active">Homeownsers Insurance</a>
            </div>
            <div class="column">
                <a routerLink="/auto" routerLinkActive="active">Auto Insurance</a>
            </div>
        </div>
    </mat-card-actions>
</mat-card>